.DS_Store
build/
DerivedData/
*.xcresult
.trae/xcodebuild-results/
.trae/*
!.trae/skills/
!.trae/skills/**
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.build/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
